<section class="section">
    <div class="container" style = "background-color :  #fab4ea">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                {% for post in site.posts %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                    <p class="title is-2"> hi im haein :) <span class="tag is-white is-pulled-right"></span></p>
                                 <img src = "/static/hi.jpg">
                            </div>
                        </div>
                    </article>
                </div>
                 <div class="box">
                    <article class="media">
                        <div class="media-content">
                                  <div class="content">
                                 <p class="subtitle is-4"> 겨울이를 소개할게 <span class="tag is-white is-pulled-right"></span></p>
                                      <img src = "/static/winter.jpg">
                                       <img src = "/static/winter1.jpg">
                                       <img src = "/static/winter2.jpg">
                              </div>
                        </div>
                    </article>
                </div>
                 <div class="box">
                    <article class="media">
                        <div class="media-content">
                                <div class="content">
                                     <p class="subtitle is-4"> 취미는 드라이브 운전면허 1종 보통이걸랑 <span class="tag is-white is-pulled-right"></span></p>
                                      </div>
                             </div>
                    </article>
                </div>
                        <div class="box">
                    <article class="media">
                        <div class="media-content">
                                    <div class="content">
                                 <p class="subtitle is-4"> 강아지와 고양이와 강동원을 좋아해 <span class="tag is-white is-pulled-right"></span></p>
                                          </div>
                                </div>
                    </article>
                </div>
                 <div class="box">
                    <article class="media">
                        <div class="media-content">
                                  <div class="content">
                                 <p class="subtitle is-4"> 토익 890 찍고 충남대 문헌정보학과 졸업했지 <span class="tag is-white is-pulled-right"></span></p>
                              </div>
                        </div>
                    </article>
                </div>
                  <div class="box">
                    <article class="media">
                        <div class="media-content">
                                <div class="content">
                                     <p class="subtitle is-4"> 사실 난 유투버야 <span class="tag is-white is-pulled-right"></span></p>
                                      </div>
                             <div class="content">
                                 <p class="subtitle is-4"> <a href ="https://www.youtube.com/channel/UCe3nlSc7dVeYXE_OE9uPcLg">여기눌러봐</a></p>
                                      </div>
                             </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
