<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                {% for post in site.posts %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                
                                    <p class="title is-2"> hi im haein :) <span class="tag is-white is-pulled-right"></span></p>
                            
                               
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
