<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                {% for post in site.posts %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                
                                    <p class="title is-2"> hi im haein :) <span class="tag is-white is-pulled-right"></span></p>
                            </div>
                                <div class="content">
                                     <p class="subtitle is-4"> 취미는 드라이브 <span class="tag is-white is-pulled-right"></span></p>
                                      </div>
                                    <div class="content">
                                     <p class="subtitle is-4"> 토익은 890 <span class="tag is-white is-pulled-right"></span></p>
                                          </div>
                                    <div class="content">
                                 <p class="subtitle is-4"> 강아지와 고양이와 강동원을 좋아해 <span class="tag is-white is-pulled-right"></span></p>
                                          </div>
                                  <div class="content">
                                 <p class="subtitle is-4"> 충남대 문헌정보학과 졸업 <span class="tag is-white is-pulled-right"></span></p>
                              </div>
                                  <div class="content">
                                 <p class="subtitle is-4"> 운전면허 1종보통 <span class="tag is-white is-pulled-right"></span></p>
                            
                            
                               
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
