<footer class="page-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p>
                        <small>
                            <span>Made by</span>
                            <a target="_blank" href="github.moonsng.io">Moonsng</a>
              
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
